@media screen and (min-width:760px){
    /* NAVEGACION */
.navegacion{
    background-color: coral;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navegacion ul{
    list-style-type: none;
    justify-content: space-between;
    position: relative;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navegacion ul li{
    display: inline-block;
    padding: 5px;
}

.navegacion ul li:hover{
    scale: (2);
    transition-duration: 2s;
    transition-timing-function: ease;
}

.navegacion img{
    max-height: 200px;
    max-width: 200px;
}
/* NAVEGACION */

.grid{
    grid-template-areas:
    "header"
    "main"
    "footer";
}

header{
    grid-area: header;
}

main{
    grid-area: main ;
}

footer{
    grid-area: footer;
}


/*Menues*/
.Menues{
    background-color: white;
    text-align: left;
    border-collapse: collapse;
    width: 600px;
}

th, td{
    /*border: solid 1px black;*/
    padding: 10px;
}

thead{
    background-color: coral;
    border-bottom: solid black;
}

tbody tr{
    background-color: whitesmoke;
}

.plato{
    max-width: 300px;
    max-height: 300px;
}

.encaje{
    display: flex;

}

/*home*/
.inicio{
    margin: 50px auto;
    width: 100%;
    height: 100%;
    text-align: center;
   /* background-image: url(public/Fondobelgrano2.jpg);*/
   background-color: #bdb76b;
}

h1{
    padding: 100px;
}

/*texto*/

article{
    background-color: #bdb76b;
    border-style: solid;
    border-width: 10px;
    border-color: brown;
    border-radius: 16px;
}

h2{
    background-color: yellow;
    border-style: solid;
    border-width: 10px;
    border-color: brown;
    border-radius: 16px;
}

h3{
    background-color: yellow;
    border-style: solid;
    border-width: 10px;
    border-color: brown;
    border-radius: 16px;
}

/*links*/
.links{
    list-style-type: none;
}

}




/* NAVEGACION */
.navegacion{
    background-color: coral;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navegacion ul{
    list-style-type: none;
    justify-content: space-between;
    position: relative;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navegacion ul li{
    display: inline-block;
    padding: 5px;
}

.navegacion ul li:hover{
    scale: (2);
    transition-duration: 2s;
    transition-timing-function: ease;
}

.navegacion img{
    max-height: 120px;
    max-width: 120px;
}
/* NAVEGACION */

.grid{
    grid-template-areas:
    "header"
    "main"
    "footer";
}

header{
    grid-area: header;
}

main{
    grid-area: main ;
}

footer{
    grid-area: footer;
}


/*Menues*/
.Menues{
    background-color: white;
    text-align: left;
    border-collapse: collapse;
    width: 255px;
    padding: 5px;
}

th, td{
    /*border: solid 1px black;*/
    padding: 10px;
}

thead{
    background-color: coral;
    border-bottom: solid black;
}

tbody tr{
    background-color: whitesmoke;
}

.plato{
    max-width: 255px;
    max-height: 300px;
}

.encaje{
    display: flex;

}

/*home*/
.inicio{
    margin: 50px auto;
    width: 100%;
    height: 100%;
    text-align: center;
   /* background-image: url(public/Fondobelgrano2.jpg);*/
   background-color: #bdb76b;
}

h1{
    padding: 50px;
}

/*texto*/

article{
    background-color: #bdb76b;
    border-style: solid;
    border-width: 10px;
    border-color: brown;
    border-radius: 16px;
}

h2{
    background-color: yellow;
    border-style: solid;
    border-width: 10px;
    border-color: brown;
    border-radius: 16px;
}

h3{
    background-color: yellow;
    border-style: solid;
    border-width: 10px;
    border-color: brown;
    border-radius: 16px;
}

/*links*/
.links{
    list-style-type: none;
}